<h1>Listing transaction_statuses</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_statuses.each do |transaction_status| %>
  <tr>
    <td><%= transaction_status.code %></td>
    <td><%= transaction_status.description %></td>
    <td><%= link_to 'Show', transaction_status %></td>
    <td><%= link_to 'Edit', edit_transaction_status_path(transaction_status) %></td>
    <td><%= link_to 'Destroy', transaction_status, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction status', new_transaction_status_path %>
